<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hust_twj.imageloderlibrary">

    <application>
        <provider
            android:name=".utils.LoaderProvider"
            android:authorities="${applicationId}.imageloderlibrary"
            android:exported="false" />
    </application>

</manifest>
